# Stocks UZ Requirements

requests==2.31.0
python-dotenv==1.0.0
beautifulsoup4==4.12.3
openpyxl==3.1.2

fastapi==0.110.0
uvicorn[standard]==0.27.0
selfcheck==0.1.0

pytest==7.4.0
pytest-cov==4.1.0
black==23.7.0
flake8==6.0.0
